body {
    background-color: #dcdcdc;
}

.bg-steel {
  background-color: #5f788a;
}

.container {
  /* Box-model */
  width: 1024px;
  /* Positioning */
  padding: 40px auto;
  margin-top: 5px;
  background: #c8c8c8;
  overflow: hidden;
  text-decoration: none;
}

.logo {
  background: #e2e2b2;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: .8em;
}

.site-summary {
  background: #a4f4aa;
  padding: 1.5em;
}

.gallery {
  margin: 20px 50px;
  /* margin: 20px; */
}
.gallery img{
  transition: 1s;
  /* margin-top: 50px; */
  padding: 25px;
  width: 200px;
}
.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
