{% extends "base.html" %} {% block title %}Add Photo{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add Photo</h1>
        <p>Hello {{ current_user.userName }}, do you have the right to share this photo?</p>

        <form method="POST" action="" enctype="multipart/form-data">
            <fieldset class="form-group">

                <div class="form-group">
                    <label for="photo_name">Title of Photo</label>
                    <input type="text" class="form-control" id="photo_name" name="photo_name" placeholder="Enter photo title">
                </div>
                <div class="form-group">
                    <label for="photo_desc">Description of photo</label>
                    <input type="text" class="form-control" id="photo_desc" name="photo_desc" placeholder="Enter photo description">
                </div>
                <div class="form-group">
                    <label for="uploaded-file">Upload photo</label>
                    <input type="file" class="form-control" id="uploaded-file" name="uploaded-file" accept=".jpg">
<!--                    <input type="submit" value="UpLoad File">-->
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>

            </fieldset>
        </form>




    </div>
{% endblock %}

