{% extends "base.html" %} {% block title %}Add Photo{% endblock %}

{% block content %}
    <div class="container">
        <h1>Add Link</h1>
        <p>Hello {{ current_user.userName }}, Please fill in the form to add a resource link.</p>

        <form method="POST" action="">
            <div class="form-group">
                <label for="name">Link Description</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter link description">
            </div>
            <div class="form-group">
                <label for="link">Link URL</label>
                <input type="text" class="form-control" id="link" name="link" placeholder="Enter link URL">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
{% endblock %}

