<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- links to get bootstrap x2 -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"/>

<!-- link to get datatable manipulation code x2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <!-- local css -->
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/lightbox.min.css">

    <title>Macks Aperture {% block title %}Home{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>
<body>
<!-- banner graphic -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="logo">
                <img src="./static/img/macks-aperture-logo.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-4">
            <div class="site-summary">
                <h4>Photography Club</h4>
                <p>A place where you can share your work or just learn more about the art</p>
                <p>Visit the Telegram channel at <a href="https://t.me/macksaperture" target="_blank" >https://t.me/macksaperture</a></p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

<!-- navigation bar at top of page defined by nav tag -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel">
            <a class="navbar-brand mr-4" href="/">Macks Aperture Photography Club</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                  <a class="nav-item nav-link" id="home" href="/home">Home</a>
                  <a class="nav-item nav-link" id="gallery" href="/gallery">Gallery</a>
                  <a class="nav-item nav-link" id="links" href="/links">Resources</a>
                  <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                  {% else %}
                  <a class="nav-item nav-link" id="login" href="/login">Login</a>
                  <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                  {% endif %}
                </div>
            </div>
        </nav>
    </div>

<!-- this is where the python-ish code goes, for loops and if statements -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>


<!-- div to hold the blocks from other page -->
    <div>{% block content %} {% endblock %}</div>

<!-- scripts for bootstrap framework x3 -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>

<!-- script for deleting notes  -->
    <script
      type="text/javascript"
      src="{{ url_for('static',  filename='index.js') }}">
    </script>

<!-- script for table search sort feature x3  -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
