{% extends "base.html" %} {% block title %}Gallery{% endblock %}

{% block content %}
    <div class="container">
        <div class="gallery">
            {% if current_user.is_authenticated %}
                <p>Hello {{ current_user.userName }}</p>
            {% endif %}
            <h1 align="center">This is the Main Gallery page</h1>
            <h5 align="center">Image Gallery</h5>

            {% for photo in photos %}
                <a href="{{ photo.gallery_file }}" data-lightbox="mygallery" data-title="{{ photo.photo_name }}">
                <img src="{{ photo.thumb_file }}" alt="{{ photo.photo_name }}"></a>
<!--                <p>{{ photo.photo_name}}</p>-->
            {% endfor %}
        </div>

        <div class="border-top pt-3">
            {% for page_num in photos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
              {% if page_num %}
                {% if photos.page == page_num %}
                  <a class="btn btn-info mb-4" href="{{ url_for('views.gallery', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                  <a class="btn btn-outline-info mb-4" href="{{ url_for('views.gallery', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
              {% else %}
               ...
              {% endif %}
            {% endfor %}

            {% if current_user.is_authenticated %}
                <small class="text-muted">
                    Want to add something? <a class="ml-2" href="/add_photo">Add your Photo</a>
                </small>
            {% endif %}
        </div>

    </div>

    <script src="./static/js/lightbox-plus-jquery.min.js"></script>

{% endblock %}



