{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
    <!-- this code is just to read, write, and delete notes -->
    <div class="container">

        <p>Hello {{ current_user.userName }}</p>
        <h2 align="center">This is your personal home page</h2>

        <h2 align="center">Notes</h2>
        <ul class="list-group list-group-flush" id="notes">
        <!-- if current user has any notes, a for loop reads one note at a time
            out of the database and adds it to an HTML list item -->
            {% for note in user.notes %}
            <li class="list-group-item">{{ note.data }}
                <!-- each list item gets a button with code to delete a note by calling a script -->
                <!-- the script code in the base.html finishes this call -->
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>

    <!-- code to create a new note-->
        <form method="POST">
            <textarea name="note" id="note" class="form-control"></textarea>
            <br>
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        </form>

        <div class="gallery">
            <h2 align="center">here is your personal gallery</h2>
            {% for photo in photos %}
                <a href="{{ photo.gallery_file }}" data-lightbox="mygallery" data-title="{{ photo.photo_name }}">
                <img src="{{ photo.thumb_file }}" alt="{{ photo.photo_name }}"></a>
<!--                <p>{{ photo.photo_name}}</p>-->
            {% endfor %}
        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Show off your stuff! <a class="ml-2" href="/add_photo">Add a Photo</a>
            </small>
        </div>

    </div>

    <script src="./static/js/lightbox-plus-jquery.min.js"></script>

{% endblock %}
