{% extends "base.html" %} {% block title %}Links{% endblock %}

{% block content %}
    <div class="container">
        <h2 align="center">Resource Links</h2>
        <table id="data"  class="table table-secondary table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Link to resource</th>
                    <th scope="col">Date</th>
                    <th scope="col">By</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-sm">
            <!--build the table by adding records from the database one at a time with a for loop-->
            {% for link in links %}
                <tr>
                    <td>{{ link.name }}</td>
                    <td><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></td>
                    <td>{{ link.create_date.strftime('%A %b %-d, %Y') }}</td>
                    <td>{{ user.userName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

         <div class="border-top pt-3">
            <small class="text-muted">
                Do you know a good information resource? <a class="ml-2" href="/add_link">Add Link</a>
            </small>
        </div>

    </div>
{% endblock %}

<!-- script calls function to add search/sort/pagination -->
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}

